@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Black+Ops+One&family=Bungee&family=Crimson+Pro:wght@900&family=Press+Start+2P&family=Rajdhani&family=Roboto&family=Slabo+27px&display=swap');

.main-porfolio{
    width: 100%;
    background-color: #07527de7;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));   
     column-gap: 20px;
    padding: 0 10px ;


}
.main-porfolio > section >div:last-of-type {
    position: relative;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    text-align: center; 
}

.main-porfolio > section >div:last-of-type > button {
    font-family: 'roboto';
    font-size: 1.2rem;
    position: absolute; 
    top: 45%; 
    left: 50%; 
    color: var(--match-color);
    background-color:var(--side-color);
    box-shadow: inset 0px 0px 2px 3px var(--match-color);
    padding: 10px 40px;
    transform: translate(-50%, -50%);
    border: 1px solid var(--match-color);
    outline: none; 
    
}


.main-porfolio > section >div:last-of-type > button:hover{
    cursor: pointer;
 
}

.main-porfolio > section >div:first-of-type > p{
    text-align: center;
    font-family: 'Bungee';
    color: var(--lightcream);
    margin-top: 15px;
}

.main-porfolio > section >div:last-of-type{
    width: 100%;
    border:4px solid var(--side-color) ;
    border-radius: 10px;
    box-shadow: 2px 2px 4px antiquewhite; 
    text-align: justify;

}

.main-porfolio > section >div:last-of-type > p{
    font-size: 0.9rem;
    font-family: 'roboto';
    line-height: 1.4rem;
    padding: 10px;
    color:  rgb(247, 238, 227);;


}

.main-porfolio > section > div:last-of-type > img{
    width: 100%;
    display: block;
    border-radius: 10px;
      
}
@media screen and (max-width: 468px) {
    .main-porfolio {
        grid-template-columns: repeat(auto-fit, minmax(70%, 1fr));
    }
}
