:root{
  --main-color:  #096a9f;
  --header-color: #dedad7;
  --side-color:#123243;
  --side2-color:#1a4c68;
  --another-color: #575c5f;
  --deepbrown-color: #cd8f5d;
  --match-color: #01e0f9; 
  --blue-color: #05a7ff;
  --lightcream: #faebd7;

}



#root{
  width: 100%;
  height:100vh;
  display: grid;
  grid-template-areas: 'side header'
                        'side main';

  grid-template-columns: 270px 1fr;
  grid-template-rows: 100px 1fr;

}

header{
  background-color: var(--lightcream);
  grid-area: header;
  position: static;
}

aside{
  background-color: #686952;
  grid-area: side;
}

main{
  background-color: var(--main-color);
  grid-area: main;
 
}

@media only screen and (max-width: 600px) {
  #root {
    grid-template-areas: 'header'
                         'main'
                         'side';
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
}